<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="CoffisoCustomRules">
    <description>Coding standard for Coffiso PHPStan Custom Rules</description>

    <file>src</file>
    <file>tests</file>
    <exclude-pattern>tests/Rule/data</exclude-pattern>

    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
        <properties>
            <property name="spacesCountAroundEqualsSign" value="0"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
        <properties>
            <property name="searchAnnotations" value="true"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Arrays.TrailingArrayComma"/>
    <rule ref="SlevomatCodingStandard.Classes.ModernClassNameReference"/>
    <rule ref="SlevomatCodingStandard.Functions.RequireTrailingCommaInCall"/>
    <rule ref="SlevomatCodingStandard.Functions.RequireTrailingCommaInDeclaration"/>

    <rule ref="PSR12"/>
</ruleset>
