includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - rules.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/Rule/data
    tmpDir: cache/phpstan
