parametersSchema:
    coffisoRules: structure([
        requireReadonlyClass: structure([
            enabled: bool()
            reportAbstractClasses: bool()
            reportClassesExtendingNonReadonlyParent: bool()
        ])
        topLevelFunctionFile: structure([
            enabled: bool()
        ])
    ])

parameters:
    coffisoRules:
        requireReadonlyClass:
            enabled: true
            reportAbstractClasses: true
            reportClassesExtendingNonReadonlyParent: false
        topLevelFunctionFile:
            enabled: true

services:
    -
        class: Coffiso\PHPStan\Rule\RequireReadonlyClassRule
        arguments:
            reportAbstractClasses: %coffisoRules.requireReadonlyClass.reportAbstractClasses%
            reportClassesExtendingNonReadonlyParent: %coffisoRules.requireReadonlyClass.reportClassesExtendingNonReadonlyParent%

    -
        class: Coffiso\PHPStan\Rule\TopLevelFunctionFileRule

conditionalTags:
    Coffiso\PHPStan\Rule\RequireReadonlyClassRule:
        phpstan.rules.rule: %coffisoRules.requireReadonlyClass.enabled%

    Coffiso\PHPStan\Rule\TopLevelFunctionFileRule:
        phpstan.rules.rule: %coffisoRules.topLevelFunctionFile.enabled%
