parametersSchema:
    coffisoRules: structure([
        requireReadonlyClass: structure([
            enabled: bool()
            reportAbstractClasses: bool()
            reportClassesExtendingNonReadonlyParent: bool()
        ])
        forbidCustomTypes: structure([
            enabled: bool()
            list: arrayOf(anyOf(
                string()
                structure([
                    description: schema(string(), nullable())
                    typeHintOnly: schema(bool(), nullable())
                    withSubclasses: schema(bool(), nullable())
                ])
            ))
        ])
    ])

parameters:
    coffisoRules:
        requireReadonlyClass:
            enabled: true
            reportAbstractClasses: true
            reportClassesExtendingNonReadonlyParent: false
        forbidCustomTypes:
            enabled: true
            list: []

services:
    -
        class: Coffiso\PHPStan\Rule\RequireReadonlyClassRule
        arguments:
            reportAbstractClasses: %coffisoRules.requireReadonlyClass.reportAbstractClasses%
            reportClassesExtendingNonReadonlyParent: %coffisoRules.requireReadonlyClass.reportClassesExtendingNonReadonlyParent%

    -
        class: Coffiso\PHPStan\Rule\ForbidCustomTypesRule
        arguments:
            forbiddenTypes: %coffisoRules.forbidCustomTypes.list%

conditionalTags:
    Coffiso\PHPStan\Rule\RequireReadonlyClassRule:
        phpstan.rules.rule: %coffisoRules.requireReadonlyClass.enabled%

    Coffiso\PHPStan\Rule\ForbidCustomTypesRule:
        phpstan.rules.rule: %coffisoRules.forbidCustomTypes.enabled%
