parametersSchema:
    coffisoRules: structure([
        requireReadonlyClass: structure([
            enabled: bool()
            reportAbstractClasses: bool()
            reportClassesExtendingNonReadonlyParent: bool()
        ])
        topLevelFunctionFile: structure([
            enabled: bool()
        ])
        forbidCustomTypes: structure([
            enabled: bool()
            list: arrayOf(anyOf(
                string()
                structure([
                    description: schema(string(), nullable())
                    typeHintOnly: schema(bool(), nullable())
                    withSubclasses: schema(bool(), nullable())
                ])
            ))
        ])
        forbidAliasedImports: structure([
            enabled: bool()
            allowSameNameAlias: bool()
            reportGroupUse: bool()
        ])
        suggestFunctionInsteadOfClass: structure([
            enabled: bool()
            reportStaticOnlyClasses: bool()
            reportSinglePublicMethodClasses: bool()
            ignoreConstructorWithArguments: bool()
        ])
        suggestFunctionInsteadOfClassCallsite: structure([
            enabled: bool()
            reportStaticOnlyClasses: bool()
            reportSinglePublicMethodClasses: bool()
            ignoreConstructorWithArguments: bool()
        ])
    ])

parameters:
    coffisoRules:
        requireReadonlyClass:
            enabled: true
            reportAbstractClasses: true
            reportClassesExtendingNonReadonlyParent: false
        topLevelFunctionFile:
            enabled: true
        forbidCustomTypes:
            enabled: true
            list: []
        forbidAliasedImports:
            enabled: true
            allowSameNameAlias: false
            reportGroupUse: true
        suggestFunctionInsteadOfClass:
            enabled: true
            reportStaticOnlyClasses: true
            reportSinglePublicMethodClasses: true
            ignoreConstructorWithArguments: true
        suggestFunctionInsteadOfClassCallsite:
            enabled: true
            reportStaticOnlyClasses: true
            reportSinglePublicMethodClasses: true
            ignoreConstructorWithArguments: true

services:
    -
        class: Coffiso\PHPStan\Rule\RequireReadonlyClassRule
        arguments:
            reportAbstractClasses: %coffisoRules.requireReadonlyClass.reportAbstractClasses%
            reportClassesExtendingNonReadonlyParent: %coffisoRules.requireReadonlyClass.reportClassesExtendingNonReadonlyParent%

    -
        class: Coffiso\PHPStan\Rule\TopLevelFunctionFileRule

    -
        class: Coffiso\PHPStan\Rule\ForbidCustomTypesRule
        arguments:
            forbiddenTypes: %coffisoRules.forbidCustomTypes.list%

    -
        class: Coffiso\PHPStan\Rule\ForbidAliasedImportsRule
        arguments:
            allowSameNameAlias: %coffisoRules.forbidAliasedImports.allowSameNameAlias%
            reportGroupUse: %coffisoRules.forbidAliasedImports.reportGroupUse%

    -
        class: Coffiso\PHPStan\Rule\SuggestFunctionInsteadOfClassRule
        arguments:
            reportStaticOnlyClasses: %coffisoRules.suggestFunctionInsteadOfClass.reportStaticOnlyClasses%
            reportSinglePublicMethodClasses: %coffisoRules.suggestFunctionInsteadOfClass.reportSinglePublicMethodClasses%
            ignoreConstructorWithArguments: %coffisoRules.suggestFunctionInsteadOfClass.ignoreConstructorWithArguments%

    -
        class: Coffiso\PHPStan\Rule\Helper\ClassFunctionCandidateInspector
        arguments:
            reportStaticOnlyClasses: %coffisoRules.suggestFunctionInsteadOfClassCallsite.reportStaticOnlyClasses%
            reportSinglePublicMethodClasses: %coffisoRules.suggestFunctionInsteadOfClassCallsite.reportSinglePublicMethodClasses%
            ignoreConstructorWithArguments: %coffisoRules.suggestFunctionInsteadOfClassCallsite.ignoreConstructorWithArguments%

    -
        class: Coffiso\PHPStan\Rule\SuggestFunctionInsteadOfClassStaticCallRule
        arguments:
            inspector: @Coffiso\PHPStan\Rule\Helper\ClassFunctionCandidateInspector

    -
        class: Coffiso\PHPStan\Rule\SuggestFunctionInsteadOfClassMethodCallRule
        arguments:
            inspector: @Coffiso\PHPStan\Rule\Helper\ClassFunctionCandidateInspector

conditionalTags:
    Coffiso\PHPStan\Rule\RequireReadonlyClassRule:
        phpstan.rules.rule: %coffisoRules.requireReadonlyClass.enabled%

    Coffiso\PHPStan\Rule\TopLevelFunctionFileRule:
        phpstan.rules.rule: %coffisoRules.topLevelFunctionFile.enabled%

    Coffiso\PHPStan\Rule\ForbidCustomTypesRule:
        phpstan.rules.rule: %coffisoRules.forbidCustomTypes.enabled%

    Coffiso\PHPStan\Rule\ForbidAliasedImportsRule:
        phpstan.rules.rule: %coffisoRules.forbidAliasedImports.enabled%

    Coffiso\PHPStan\Rule\SuggestFunctionInsteadOfClassRule:
        phpstan.rules.rule: %coffisoRules.suggestFunctionInsteadOfClass.enabled%

    Coffiso\PHPStan\Rule\SuggestFunctionInsteadOfClassStaticCallRule:
        phpstan.rules.rule: %coffisoRules.suggestFunctionInsteadOfClassCallsite.enabled%

    Coffiso\PHPStan\Rule\SuggestFunctionInsteadOfClassMethodCallRule:
        phpstan.rules.rule: %coffisoRules.suggestFunctionInsteadOfClassCallsite.enabled%
